streamlit
pandas
numpy
scikit-learn
sentence-transformers
nltk
spacy>=3.7.0,<3.8.0
pdfplumber
regex
joblib
matplotlib
qrcode
Pillow
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
